@model InventoryManagementSystem.Controllers.GrantUser
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">

                <div class="panel-heading text-center">
                    <h2>Sign In</h2>
                </div>
                <div class="panel-body">

                    <div class="row">
                        @if (Convert.ToBoolean(TempData["loginExpireCheck"]) == true)
                        {
                            <p class="loginExpireMessage text-center">Session has expired. Please sign in again.</p>
                        }
                    </div>
                    @using (Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, true, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.HiddenFor(m => m.RedirectUrl, (string)ViewBag.RedirectURL)



                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "control-label" })

                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Enter Your Username" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })

                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter Your Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                        </div>

                        <input type="submit" class="btn btn-lg btn-primary btn-block login-now" value="Login" />
                        @*@Html.EditorFor(m => m.IPAddress, new { @class = "control-label", @id = "IPAddress" })*@

                        <p class="margin-top-20">
                            @Html.ActionLink("Forgot your password?", "Index", "/ForgotPassword")
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>    
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</div>



